<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>导航页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        img {
            width: 100%;
        }

        .zhuti1 {
            text-align: center;
            display: block;

            font-size: 30px;
            text-decoration: none;

        }
        .zhuti2 {
            text-align: center;
            display: block;

            font-size: 22px;
            text-decoration: none;
        }
    </style>


</head>

<body>

    <div class='img_div'>
        <img src="../static/z1.jpg">
    </div>

    <div class="zhuti1">
        <br>
        <div>👉<a href="http://bd01.bd5k.water-hf.com/a/635363?SHyp" target="_blank" style="font-size: 30px; color: rgb(4, 104, 255);">官方观影通道①</a>👈</div>
        <br>
        <div>👉<a href="https://qianwen.alicdn.com/upload/20250306/3ac75cb3d3cf1759c5600279de4ca429/9cc8b2bedd814154964de0b5f958a585/dde40954dcf91903fd26d1481f520599.html?key=15G7dN" target="_blank" style="font-size: 30px; color: rgb(245, 6, 6);">官方观影通道②</a>👈</div>
        <br>
        <div>👉<a href="https://tzforbu.clqxm.com/index.html#/?code=mqrt23" target="_blank" style="font-size: 30px; color: rgb(61, 202, 25);">官方观影通道③</a>👈</div>
        <br>
        <div>👉<a href="http://eqgf.s.hbbwy.cn/s/15Gl2S" target="_blank" style="font-size: 30px; color: rgb(221, 158, 23);">官方观影通道④</a>👈</div>
        <div><a style="font-size: 30px; color: rgb(247, 0, 255);">永久网址 vx08.com</a></div>
        <div><a style="font-size: 30px; color: rgb(3, 3, 3);">如遇通道打不开 请更换通道</a></div>
        <div><a style="font-size: 30px; color: rgb(5, 5, 5);">请保存本址 永不失联</a></div>
        <br>
    </div>
</body>

</html>